/* Style the outer columns */
.outer {
  padding: 20px;
  height: 100%;
}

/* Style the middle column */
.middle {
  padding: 20px;
  height: 100%;
}

/* Style the inner column */
.inner {
  padding: 20px;
  height: 100%;
}

textarea {
    white-space: pre-wrap;
  }

#message {
  font-size: 2em;
  margin-top: 2em !important;
  padding-left: 50px !important;
}

#message a {
  padding: 20px !important;
}